In [51]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
salary = pd.read_csv("salaries.csv")
salary.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [49]:
lr=LabelEncoder()
salary["n1"]=lr.fit_transform(salary["company"])
salary["n2"]=lr.fit_transform(salary["job"])
salary["n3"]=lr.fit_transform(salary["degree"])

In [50]:
k=salary.drop(["company","job","degree"],axis=1)
k

    salary_more_then_100k  n1  n2  n3
0                       0   2   2   0
1                       0   2   2   1
2                       1   2   0   0
3                       1   2   0   1
4                       0   2   1   0
5                       1   2   1   1
6                       0   0   2   1
7                       0   0   1   0
8                       0   0   0   0
9                       1   0   0   1
10                      1   1   2   0
11                      1   1   2   1
12                      1   1   0   0
13                      1   1   0   1
14                      1   1   1   0
15                      1   1   1   1

In [44]:
x=k.drop(["salary_more_then_100k"],axis=1)
x

    n1  n2  n3
0    2   2   0
1    2   2   1
2    2   0   0
3    2   0   1
4    2   1   0
5    2   1   1
6    0   2   1
7    0   1   0
8    0   0   0
9    0   0   1
10   1   2   0
11   1   2   1
12   1   0   0
13   1   0   1
14   1   1   0
15   1   1   1

In [45]:
y=k.salary_more_then_100k
y

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
tree=DecisionTreeClassifier()

In [21]:
tree.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [22]:
tree.predict(x[0:5])

array([0, 0, 1, 1, 0], dtype=int64)

In [15]:
from sklearn.model_selection import cross_val_score

In [23]:
cv=cross_val_score(tree,x,y,cv=5).mean()

In [24]:
cv

0.5666666666666667

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [18]:
X_train.shape

(12, 3)

In [19]:
tree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [24]:
tree.score(X_test,y_test)

0.5

In [26]:
df=pd.read_csv("salaries.csv")