In [3]:
import pandas as pd 
home=pd.read_csv("homeprices.csv")
home.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

pandas dummies

In [5]:
dum=pd.get_dummies(home.town)

In [6]:
new=pd.concat([home,dum],axis=1)

In [7]:
new

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [8]:
new.drop("town",axis=1)

    area   price  monroe township  robinsville  west windsor
0   2600  550000                1            0             0
1   3000  565000                1            0             0
2   3200  610000                1            0             0
3   3600  680000                1            0             0
4   4000  725000                1            0             0
5   2600  585000                0            0             1
6   2800  615000                0            0             1
7   3300  650000                0            0             1
8   3600  710000                0            0             1
9   2600  575000                0            1             0
10  2900  600000                0            1             0
11  3100  620000                0            1             0
12  3600  695000                0            1             0

In [9]:
from sklearn.linear_model import LinearRegression

In [11]:
from sklearn.model_selection import cross_val_score
lr=LinearRegression()

In [30]:
c=cross_val_score(lr,new[["price"]],new[["area"]],cv=5).mean()
c

0.3187600953057369

In [27]:
lr.fit(new[["price"]],new[["area"]])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
lr.score(new[["price"]],new[["area"]])

0.8683414156126122